* {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h1{
    color: green;
    font-size: 40px;
}

.email{
    color: pink;
}

#heading2{
    color: red;
}